@use './styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  //background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background: conic-gradient(from 210deg at 70% 20%, #e2e8f0, #f8fafc, #dbeafe, #e2e8f0);
  //background:linear-gradient(120deg, #0ea5e9 0%, #22d3ee 45%, #a78bfa 100%);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.content {
  min-height: 100vh;
  width: 100vw; /* <-- key: give it width */
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

html, body {
  height: 100%;
}
