@use '../../styles/variables' as *;

.chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: $padding-header;
  background: $chat-body-text;
  border-top: 1px solid #e2e8f0;
  gap: $gap-small;
  border-radius: 0 0 16px 16px;
  z-index: 10; // ENSURE IT'S ON TOP

  input[type='text'] {
    flex: 1;
    padding: $padding-input-text;
    border: 1px solid #e2e8f0;
    border-radius: $border-radius-5;
    font-size: $font-size-1;
    background: $input-background;
    transition: all 0.2s;

    &:focus {
      outline: none;
      border-color: $border-focus;
      background: $chat-body-text;
    }

    &::placeholder {
      color: #a0aec0;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .send-button {
    padding: $send-button-padding;
    background: $chat-body-background;
    color: $chat-body-text;
    border: none;
    border-radius: $border-radius-5;
    cursor: pointer;
    font-weight: $font-weight-semibold;
    font-size: $font-size-1;
    transition: transform 0.2s;

    &:hover:not(:disabled) {
      transform: translateY(-2px);
    }

    &:active:not(:disabled) {
      transform: translateY(0);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
